@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
*{
    font-family: 'Prompt', sans-serif;
}
.user-image {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: -2px;
}

/* Logo */
.logo-lg{
    text-align: left;
}
.logo-mini img, .logo-lg img {
    width: 55px;
    text-align: left;
    margin-right: 0px;
    margin-top: -5px;
}

/*Navbar*/
.navbar-brand {
    border-right: 0px solid transparent !important;
}
.navbar .navbar-right>li>a {
    border-left: 1px solid transparent !important;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
    /*font-size: 25px;*/
    padding-right: 35px;

    /* margin-left: 10px; */
}
.main-header .navbar-brand {
    color: #fff;
    font-weight: bold;
    /*font-size: 25px;?*/
}
.skin-green-light .wrapper, .skin-green-light .main-sidebar, .skin-green-light .left-side {
    background-color: #ffffff;
}
.btn-primary{
    background:#007bff;
}
.btn-primary:hover{
    background:#0264ce;
}
.skin-green-light .main-header .navbar {
    background-color: #5cb85c;
}
.modal-content {
    border-radius: 3px;
}

.skin-blue .main-header .navbar{
    background: #4ABDAC !important;
}
.skin-blue .main-header .logo{
    background-color: #4abdac !important;
}
.main-sidebar{
    padding-top: 0px;
}
.user-panel>.image>img {
    width: 100%;
    max-width: 220px !important;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.main-sidebar {
    position: fixed;
}
ul.sidebar-menu.tree {
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    /*background-color: #293338 !important;*/
}
.skin-blue .sidebar-menu>li.active>a {
    border-left-color: #FFC107;
}

ul.sidebar-menu.tree li a i {
    font-size: 18pt;
    /*color: #ffc107;*/
}
ul.sidebar-menu.tree li a i.fa-database{
    color: #ffc107;
}
ul.sidebar-menu.tree li a i.fa-file{
    color: #ebedf2;
}

ul.sidebar-menu.tree li a i.fa-users{
    color: #0abb87;
}

ul.sidebar-menu.tree li a i.fa-info-circle{
    color: #2196F3;
}

ul.sidebar-menu.tree li a i.fa-phone-square{
    color: #fff;
}
ul.sidebar-menu.tree li a i.fa-user{
    color: #8BC34A;
}
ul.sidebar-menu.tree li a i.fa-cog{
    color: #8BC34A;
}
ul.sidebar-menu.tree li a i.fa-{
    color: #fd397a;
}
/*
 *  STYLE 1
 */

ul.sidebar-menu.tree::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: #222d32;
    width: 5px;
}

ul.sidebar-menu.tree::-webkit-scrollbar
{
    width: 5px;
    background-color: #222d32;
}

ul.sidebar-menu.tree::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FFC107;
}
#icon-header{
    font-size: 20px;
    color: #FFC107;
}
.dropdown-menu{
    min-width: 208px !important;
}
.user-panel {
    margin-top: 20px;
}

.skin-blue .main-header .navbar {
    background: #918bd7 !important;
}

/*icon*/
.fa-tachometer {
    color: #FFC107;
}
.fa-book {
    color: #00dcc3;
}
.fa-files-o {
    color: #ff97c0;
}